.header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   padding: 10px 20px;
   display: flex;
   align-items: center;
  
   background-color: var(--header-background-color);
 }
 
 .header__logo {
   font-size: 20px;
   line-height: 1;
   font-weight: 500;
   color: var(--header-text-color);
 }
 
 .header__theme-button {
   margin-left: auto;
   border: 1px solid var(--header-text-color);
   padding: 4px 8px;
   color: var(--header-text-color);
   cursor: pointer;
 }