body {
  --header-background-color: #c71f1f;
  --header-text-color: #ffffff;

  --main-background-color: #ea9e9ec0;
  --main-text-color: #000536;

  --footer-background-color: #c71f1f;
  --footer-text-color: #ffffff;
}

body.dark {
  --header-background-color: #3d0606;
  --header-text-color: #c5c5c5;

  --main-background-color: #000000;
  --main-text-color: #c5c5c5;

  --footer-background-color: #3d0606;
  --footer-text-color: #c5c5c5;
}